@CHARSET "ISO-8859-1";


     /* Header */
.menu{
	background-color:#C0C0C0;
	text-align:center;
	top:0px;
	min-height:200px;
	padding-top:120px;
}


	/*  Body all  */
.ecran-modification{
	padding:50px;
}
	/* Page index */
.titre{
	padding-top:50px;
	margin:10px;
}

.introduction {
	text-align:justify;
	line-height:170%;
	padding:20px;
}
	/*  Page Login */
.id{
	margin-bottom:10px;
}
.id input{
	margin-bottom:20px;
}
	
.bttvalidation,
.bttannulation{
	margin:15px;
	padding:15px;
	border-radius: 12px;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.bttannulation {
	padding-left:20px;
	padding-right:20px;
}
.bttvalidation:hover
{
	background-color: #4CAF50; /* Green */
    color: white;
}
.bttannulation:hover{
	background-color: #a80303; /* red */
    color: white;
}
.id,
.mdp {
 	margin:10px;
}

	/*  Page Utilisateur */



	/* Page Administrateur */
.vue button{
	width:200px;
	height:75px;
	display:inline;
	margin:50px;
	background-color: #33A2FF;
	 -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	
}
.vue button:hover{
	background-color: #4CAF50; /* Green */
    color: white;
}

.vue button:nth-child(1){
	margin-left:150px;
}
.vue button:nth-child(2){
	margin-left:300px;
}
.vue button:nth-child(3){
	margin-left:450px;
}
.vue button:nth-child(4){
	margin-left:600px;
}


    /* Page Administrateur - Gestion véhicule*/
.nouveau,
.modifie,
.supprimer{
	width:200px;
	height:50px;
	display:block;
	background-color: #33A2FF;
}
.choix-vehicule{
	display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top : 50px;
}

   
    
	/* Navigation left */

.choix{
	background-color:#C0C0C0;
	position:relative;
	top:0px;
	min-height:600px;

}
.section{
	border:dashed 1px;
	text-align:center;
	margin:7px 0px 7px 7px;
}
.section:hover{
	background-color:#dbdbdb;
}


	/* Navigation utilisateur */
	
.modificationPerso{
	margin-top:300px;;;
}
#deco{
	background-color:#c9928b;
	padding:10px;
	color:white;
}
#deco:hover{
	background-color:#991301;
}

      /* footer */
#eleve {
	position:absolute;
	bottom:0px;
	background-color:#C0C0C0;
	min-height:80px;
	padding:15px;
}









